:root {
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  background-color: var(--main-bg);
}

.card {
  width: 100%;
  max-width: 32.5rem;
  margin: 5.4rem auto;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  background-color: var(--card-bg);
  color: var(--white);
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 3rem 1.5rem rgba (0, 0, 0, 0.1);
}

.container {
  width: 27.85rem;
  margin: 0 auto;
}

.card-image {
  position: relative;
}

.card-image {
  overflow: hidden;
  border-radius: 0.8rem;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.card-image:hover::before {
  content: "";
  position: absolute;
  background: var(--cyan);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 0.5s;
  z-index: 9;
  cursor: pointer;
}

.card-image:hover::after {
  content: url("../images/icon-view.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.card-content h1 {
  font-size: 2.15rem;
  font-weight: 600;
  margin-top: 2rem;
  line-height: 1.5;
  letter-spacing: 0.019rem;
}

.card-content h1:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card-content p {
  margin-top: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--soft-blue);
  font-size: 1.6rem;
}

.card-status {
  display: flex;
  margin-top: 1.8rem;
}

.etherium,
.time {
  background-repeat: no-repeat;
  background-position: left center;
  letter-spacing: 0.01rem;
  font-size: 1.5rem;
}

.etherium {
  background-image: url("../images/icon-ethereum.svg");
  padding-left: 1.8rem;
  font-weight: 700;
  color: var(--cyan);
  margin-right: auto;
}

.time {
  background-image: url("../images/icon-clock.svg");
  padding-left: 2.5rem;
}

.card-creator {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1.6rem;
  padding-top: 1.65rem;
  border-top: 1px solid var(--line);
}

.card-creator img {
  width: 3.3rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card-creator h2 {
  font-size: 1.5rem;
  color: var(--soft-blue);
  font-weight: 400;
}

.creator-name {
  margin-left: 0.4rem;
  color: var(--white);
  letter-spacing: 0.02rem;
}

.creator-name:hover {
  color: var(--cyan);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .card {
    margin: 14.4rem auto;
    max-width: 35rem;
    box-shadow: none;
  }

  .container {
    width: 30.23rem;
    margin: 0 auto;
  }

  .card-content h1 {
    margin-top: 2.2rem;
    letter-spacing: 0.03rem;
  }

  .card-content p {
    font-size: 1.82rem;
  }

  .card-status {
    margin-top: 2.1rem;
  }

  .etherium,
  .time {
    font-size: 1.65rem;
  }

  .time {
    padding-left: 2.3rem;
  }

  .card-creator h2 {
    letter-spacing: 0.06rem;
  }

  .card-creator {
    gap: 1.6rem;
    margin-top: 2.4rem;
    padding-top: 1.6rem;
    padding-bottom: 0.8rem;
  }

  .creator-name {
    margin-left: 0.5rem;
    color: var(--white);
    letter-spacing: 0.05rem;
  }
}
